@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geist+Sans:wght@400;600&family=Geist+Mono:wght@400&display=swap');

/* ... */

@layer base {


  :root  
 {
    --background: 238.7 50% 5%;
    --foreground: 238.7 5% 90%;
    --card: 238.7 50% 8%;
    --card-foreground: 238.7 5% 90%;
    --popover: 238.7 50% 5%;
    --popover-foreground: 238.7 5% 90%;
    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 238.7 30% 100%;
    --secondary-foreground: 0 0% 1%;
    --muted: 200.7 30% 15%;
    --muted-foreground: 238.7 5% 60%;
    --accent: 200.7 30% 15%;
    --accent-foreground: 238.7 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 238.7 5% 90%;
    --border: 238.7 30% 18%;
    --input: 238.7 30% 18%;
    --ring: 238.7 83.5% 66.7%;
    --radius: 0.5rem;
  }
}  
@layer base {
  * {
    @apply border-border font-geistSans;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  .h1{
    @apply text-[1.5rem]  font-semibold md:text-[1.75rem] lg:text-[1.75rem]  xl:text-[1.75rem] 
  }
  html {
    @apply text-black
  }

  .aboutTags {
    @apply flex gap-2 font-bold items-center px-4 py-1 bg-gray-900 rounded-xl hover:scale-105 tracking-normal text-slate-400 text-sm flex-grow md:flex-grow-0
  }

  .aboutTagsTransition{
    @apply transition-all duration-150 ease-in
  }

  .card {
    @apply p-7 mx-8 my-2 md:m-2  bg-card  border-2 rounded-xl border-border  flex flex-col gap-4 h-fit 
  }

  .cardHeading {
    @apply font-semibold text-2xl tracking-tight
  }
  
  .scrollAnimation{
    @apply flex flex-nowrap gap-2 animate-scrollLeft hover:[animation-play-state:paused]  w-max px-4 transition-all ease-linear
  }

  .descriptiveText {
    @apply text-slate-400 text-[1rem]
  }

  .JavaScriptTag{
    @apply bg-yellow-500  text-yellow-500
  }

  .TypeScriptTag{
    @apply bg-blue-500 text-white
  }

  .NextTag {
    @apply bg-opacity-100 bg-white
  }

  .ReduxTag {
    @apply bg-purple-400 text-purple-300
  }
  
  .RTLTag {
    @apply bg-red-500 text-red-300
  }

  .JestTag {
    @apply bg-red-500 text-white
  }

  .TailwindTag {
    @apply bg-blue-600 text-blue-400
  }

  .ShadCNTag {
    @apply bg-white
  }

  .ReactTag {
    @apply bg-blue-500 
  }
  .projectBackground {
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23595ddb' fill-opacity='0.32'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

